@model IEnumerable<ASP.NET_Fullstack_MVC.Models.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Products</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="table-responsive">
    <table id="productTable" class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product ID</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductID</td>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                        <td>@item.Qty</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">No products found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#productTable').DataTable({
            "lengthMenu": [5, 10, 20] // Sets the options for entries per page
        });
    });
</script>
